*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background-color: #f1f1f1;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  pointer-events: none;
}

header {
  height: 122px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #f1f1f1;
  -webkit-box-shadow: 0px 8px 7px 0px rgba(66, 68, 90, 0.5);
  -moz-box-shadow: 0px 8px 7px 0px rgba(66, 68, 90, 0.5);
  box-shadow: 0px 8px 7px 0px rgba(66, 68, 90, 0.5);
}

header > div {
  height: 100%;
  max-width: 1546px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding-inline: 20px;
}

header > div > a {
  flex: 1;
}

header > div > a > img {
  width: 239px;
}

header > div > ul {
  flex: 2;
  display: flex;
  gap: 64px;
}

header > div > ul > li > a {
  font-size: 16px;
}

.section--hero {
  height: 100vh;
}

.section--hero > div {
  height: 100%;
  padding-top: 122px;
  display: flex;
  flex-direction: column;
  max-width: 1546px;
  margin-inline: auto;
}

.section--hero .section--top {
  flex: 1;
  display: flex;
}

.section--top > div:first-child > img {
  width: 673px;
  height: 867px;
  object-fit: cover;
}

.section--top > div:first-child {
  position: relative;
  flex: 1;
}

.section--top > div:last-child {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
.section--top > div:last-child > h2 {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 500;
  line-height: 61px;
  background: linear-gradient(135deg, #111, #b1b1b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section--top > div:last-child > h3 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}

.section--hero .section--bottom {
  height: 200px;
}

.section--bottom .section__heading {
  color: #111;
  background: linear-gradient(135deg, #111, #b1b1b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 48px;
}

.section--product-features {
  padding-block: 48px;
  min-height: 50vh;
}

.section--product-features .cards__container {
  display: flex;
  max-width: 1546px;
  margin-inline: auto;
  justify-content: space-between;
}

.section--product-features .cards__container .card {
  padding: 12px;
  flex: 1;
}

.card__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  text-align: center;
  line-height: 39px;
  font-weight: 400;
}

.card > p {
  line-height: 25px;
}

.section__heading {
  position: relative;
  font-weight: 400;
}

.section__heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -32px;
  transform: translateX(-50%);
  height: 1px;
  width: 126px;
  background-color: #111;
}

.btn {
  font-size: 18px;
  padding: 15px 40px;
  max-width: 171px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.btn--green {
  background: #30ab4c;
}

.btn--brown {
  background: #ad4844;
}

.card {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.card:hover::after {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  width: 290px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
}

.card > h3 {
  position: relative;
  margin-bottom: 32px;
}

.card > h3::after {
  content: "";
  position: absolute;
  width: 126px;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -32px;
  background: #111;
}

.card > * {
  max-width: 290px;
}

.card__number {
  -webkit-box-shadow: 1px 8px 27px -10px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 8px 27px -10px rgba(66, 68, 90, 1);
  box-shadow: 1px 8px 27px -10px rgba(66, 68, 90, 1);
  font-weight: 700;
  width: 46px;
  height: 46px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  border-radius: 50%;
  background: #fff;
}

.card__heading {
  position: relative;
  text-wrap: nowrap;
  width: 60%;
}

.ingredients__card p {
  line-height: 25px;
}

.ingredients__card:hover .card__heading::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -32px;
  background: #111;
}

.card__circle--gray {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #d9d9d9;
}

#products__container {
  background: #f6f6f6;
}
#threshold {
  position: absolute;
  margin: 0 auto;
  height: 120px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: red; */
}

#products__container > div {
  max-width: 1546px;
  padding-block: 56px;
  height: 100%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
}

#products__container > div > div {
  background: #ccc;
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#products__container > div > div:nth-child(1),
#products__container > div > div:nth-child(2),
#products__container > div > div:nth-child(3),
#products__container > div > div:nth-child(4) {
  align-self: end;
}

#products__container > div > div:nth-child(5),
#products__container > div > div:nth-child(6),
#products__container > div > div:nth-child(7),
#products__container > div > div:nth-child(8) {
  align-self: start;
}

#pagination {
  background: #f6f6f6;
  padding-block: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__text {
  padding: 10px;
  border: 2px solid #ad4844;
  font-weight: bold;
}

.pagination__amount {
  height: 42px;
  background: #ad4844;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.grid__box {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-content: center;
}

.ingredients__card {
  padding-block: 32px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-center;
  align-items: center;
  gap: 24px;
}

#ingredients .ingredients__container {
  max-width: 1546px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product__details {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

#product__details > div {
  width: 700px;
  height: 280px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 24px -5px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 8px 24px -5px rgba(66, 68, 90, 1);
  box-shadow: 0px 8px 24px -5px rgba(66, 68, 90, 1);
}

#product__details .product__details__container {
  position: relative;
}

#close__popup__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.product__details__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#product__details.show {
  opacity: 1;
  pointer-events: all;
}
