@media (max-width: 1590px) {
  .section--hero--top--right__area {
    padding-right: 2rem;
  }
}

@media (max-width: 1480px) {
  .section--hero__subheading.linear-gradient {
    font-size: 4rem;
  }
}

@media (max-width: 1306px) {
  .section--hero__subheading.linear-gradient {
    font-size: 3.5rem;
  }
  .section--hero__text {
    font-size: 1.8rem;
  }
}

@media (max-width: 1350px) {
  .section--product-features .cards__container {
    gap: 8rem;
  }

  .big-bottle {
    min-width: 33rem;
  }
}

@media (max-width: 1079px) {
  .section--top {
    flex-direction: column;
  }

  .section--hero--top--right__area {
    padding-right: 0;
    align-items: center;
    text-align: center;
    margin-bottom: 8rem;
  }

  .vector1--hero {
    right: -20%;
  }
  .vector2--hero {
    left: -20%;
  }

  .hero--img {
    transform: scale(0.8);
  }

  .section--hero__img__container > img:first-child {
    display: none;
  }

  .section--hero__img__container > img:last-child {
    display: none;
  }

  #hero__logo {
    width: 70%;
    margin-inline: auto;
    margin-top: 6rem;
  }

  .hero--img {
    min-width: 100%;
  }

  .section--hero__img__container {
    width: 100%;
  }

  .section--hero__img__container > img:first-child {
    left: 26%;
    bottom: 0;
  }

  .section--hero__img__container > img:last-child {
    right: 28%;
    bottom: 15%;
  }
}

@media (max-width: 841px) {
  .section--hero__img__container > img:last-child {
    right: 24%;
    bottom: 9%;
  }
}

@media (max-width: 1081px) {
  .section--hero__subheading.linear-gradient {
    line-height: 5.2rem;
  }
}

@media (max-width: 1146px) {
  .big-bottle {
    transform: scale(0.7);
  }
}

@media (max-width: 939px) {
  .ingredients--center {
    order: 3;
    grid-column: span 2;
  }
  .ingredients--left {
    grid-column: span 2;
  }
  .ingredients--right {
    grid-column: span 2;
  }
  .ingredients__card {
    padding: 2rem;
  }
  .ingredients--center .slime-left {
    bottom: 30%;
    left: 12%;
  }

  .ingredients--center .slime-right {
    top: 23%;
    right: 11%;
    transform: scale(0.7);
  }
}

@media (max-width: 697px) {
  .ingredients--center .slime-left {
    bottom: 30%;
    left: 0%;
  }

  .ingredients--center .slime-right {
    top: 23%;
    right: 6%;
    transform: scale(0.7);
  }
}

@media (max-width: 573px) {
  .ingredients--center .slime-right {
    top: 26%;
    right: 0;
    transform: scale(0.7);
  }
}

@media (max-width: 1698px) {
  #big-dog-img__container {
    background-position: 30% 67%, 68% 60%;
  }
}

@media (max-width: 1250px) {
  #big-dog-img__container {
    background-position: 20% 67%, 78% 60%;
  }
}

@media (max-width: 636px) {
  #big-dog-img__container {
    background-position: 5% 67%, 95% 60%;
  }
}

@media (max-width: 531px) {
  .big-dog {
    width: 150%;
  }
}

@media (min-width: 1079px) {
  .section--hero__img__container {
    flex: 1;
  }
}

@media (max-width: 860px) {
  .links__list {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
