:root {
  --screen-xs: 375px;
  --screen-sm: 576px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-xxl: 1440px;
  --screen-xxxl: 1600px;
  --screen-xxxxl: 1920px;
}

@media screen and (max-width: 512px) {
  body {
    background: #f1f1f1;
  }
  header {
    box-shadow: none;
  }

  #logo > img {
    width: 20rem;
  }

  .links__list {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .vector1--hero,
  .vector2--hero,
  .vector3--hero {
    display: none;
  }

  .section--hero .section--top {
    flex-direction: column;
  }

  .section--hero__img__container {
    position: relative;
    min-width: 28.6rem;
    min-height: 56.8rem;
  }

  .section--hero__img__container > img:first-child {
    position: absolute;
    z-index: -1;
    bottom: 5%;
    left: 7%;
  }

  .section--hero__img__container > img:last-child {
    width: 15rem;
    position: absolute;
    z-index: -1;
    bottom: 16%;
    right: 10%;
  }

  .section--hero--top--right__area {
    margin-left: 0;
    padding-inline: 2rem;
  }

  #hero__logo {
    display: none;
  }

  .section--hero__subheading {
    text-align: center;
    font-size: 3.5rem;
  }

  .section--hero__text {
    text-align: center;
    line-height: 3.2rem;
    font-size: 1.8rem;
  }

  .linebreak {
    display: none;
  }

  .btn--green {
    align-self: center;
  }

  .section--bottom {
    padding-block: 10rem;
  }

  .section__heading {
    font-size: 3.5rem;
  }

  .cards__container {
    flex-direction: column;
    
  }

  .product-features__card__row__container {
    align-items: center;
  }

  #product-effects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 5rem;
    min-height: 50vh;
    padding-block: 10rem;
    background: #fff;
  }

  #product-effects .section__heading {
    margin-bottom: 10rem;
  }

  #product-effects .product-features__card__number__container {
    align-self: start;
  }

  #ingredients {
    margin-top: 3rem;
    padding-bottom: 8rem;
  }

  .ingredients--center {
    order: 3;
  }

  .ingredients__card {
    padding-inline: 4rem;
    padding-bottom: 2rem;
  }

  #big-dog-img__container {
    display: flex;
    justify-content: center;
  }

  #big-dog-img__container .big-dog {
    position: relative;
    width: 80rem;
    z-index: 1;
    vertical-align: middle;
    transform: translateY(100%);
    transition: transform 0.8s ease-out;
  }

  #big-dog-img__container .slime-left {
    top: 25%;
    left: 9%;
    width: 14rem;
    transform: rotate(-30deg);
  }

  #big-dog-img__container .slime-right {
    bottom: 0;
    right: 7%;
    width: 14rem;
    transform: rotate(30deg);
  }

  #product--cards__container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }

  .product--details__container {
    width: 70%;
    height: 60%;

  }
}
